@page "/stories"

<PageTitle>Scop - Stories</PageTitle>

<div class="d-flex flex-column mt-4 pa-6">
    <MudText Typo="Typo.h4" Class="mb-4">Stories</MudText>

    @if (_loading || DataService is null)
    {
        <div class="loading-icon-container my-2">
            <div class="loading-icon"></div>
        </div>
    }
    else
    {
        if (DataService.Data.Stories.Count == 0)
        {
            <p>You don't have any stories yet.</p>
        }
        else
        {
            <div class="d-flex justify-space-around my-2">
                @foreach (var story in DataService.Data.Stories)
                {
                    <MudCard Class="ma-2">
                        <MudCardContent>
                            <MudText Style="@(story.IsUnnamed ? $"color: {Theme?.Palette.TextDisabled ?? "#ffffff33"}" : null)">@story.DisplayName</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton OnClick="@(_ => OnOpenStory(story))" Color="Color.Primary">Open</MudButton>
                            <MudButton OnClick="@(_ => OnDeleteStory(story))" Color="Color.Error">Delete</MudButton>
                        </MudCardActions>
                    </MudCard>
                }
            </div>
        }

        <div class="d-flex justify-center mt-4">
            <MudTooltip Text="Add new story" Delay="600">
                <MudFab OnClick="OnAddStory" Icon="@Icons.Material.Filled.Add" Color="Color.Success" Size="Size.Small" />
            </MudTooltip>
        </div>
    }
</div>

<MudDialog @bind-IsVisible="DeleteDialogOpen">
    <TitleContent>
        <MudText Typo="Typo.h6">Delete</MudText>
    </TitleContent>
    <DialogContent>
        <p>Are you sure you want to delete this story?</p>
        <p>This is <MudText Inline="true" Color="Color.Error"><em>permanent</em></MudText> and cannot be undone (other than by restoring a backup data file).</p>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="OnCancelDelete" Class="px-10">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="OnConfirmDeleteAsync" Class="ms-2 px-10">Yes, Delete</MudButton>
    </DialogActions>
</MudDialog>