<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="button" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex flex-column mt-4 p-6" role="alert">
                <Alert Class="outlined" ThemeColor="ThemeColor.Warning">Page not found</Alert>
                <p class="mt-3"><a href="./">Return to the main page</a></p>
            </div>
        </LayoutView>
    </NotFound>
</Router>