<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="button" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="mt-4 pa-6" role="alert">
                <div class="d-flex flex-column">
                    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">Page not found</MudAlert>
                    <MudText Class="mt-3"><MudLink Href="">Return to the main page</MudLink></MudText>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>